.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional-introduction-content {
    display: flex;   
}

.additional-content-item {
    flex: 1 0 auto;

    &+.additional-content-item {
        margin-left: 30px;
    }
}