@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.text {
  color: $primary-text-color;

  a {
    color: $link-color;
    text-decoration: none;
    font-weight: 500;
  }

  p + p {
    margin-top: 2rem;
  }

  ul {
    margin: 1rem 0;

    li {
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        background: $accent-color;
        vertical-align: middle;
        @include diamond-block();
        position: absolute;
        left: -20px;
        top: 7px;
      }
    }
    
    li + li {
      margin-top: 0.5rem;
    }
  }
}