@import './colors';
@import './typography';

$max-width: 1140px;
$breakpoints: (
  min: $max-width / 2,
  mid: $max-width + ($max-width / 2) / 2,  
  max: $max-width,
);

$background-color: $dark-blue;
$pattern-color: $turqoise;
$accent-color: $gold;
$link-color: mix(white, lighten($turqoise, 10%), 25%);

$primary-text-color: $light-grey;

$nav-font: $primary-font;
$wordmark-font: $secondary-font;