@import './colors';
@import './typography';

$max-width: 1140px;

$background-color: $dark-blue;
$pattern-color: $turqoise;
$accent-color: $gold;
$link-color: mix(white, lighten($turqoise, 10%), 25%);

$primary-text-color: $light-grey;

$nav-font: $primary-font;
$wordmark-font: $secondary-font;