.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.additional-introduction-content {
    display: flex;
}

.additional-content-item {
    &+.additional-content-item {
        margin-left: 5rem;
    }
}