@import 'src/common/styles/mixins';


.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.additional-introduction-content {
    display: flex;
    flex-direction: column;

    @include set-max-breakpoint {
        flex-direction: row;

        .additional-content-item {
            &+.additional-content-item {
                margin-left: 5rem;
            }
        }
    }
}