@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.hero-mask {
    // uses viewport units to counteract scrollbars
    // relative units are calculated after scrollbars
    height:100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-wrapper {
    max-width: $max-width;
    @include centre-block;
}

.nav-list {
    @include set-primary-font;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
}

.word-mark-wrapper {
    position: relative;
    margin-top: 100px;
    transform: rotate(44.5deg);
    box-sizing: border-box;

    .word-mark {
        @include set-secondary-font;
        font-size: 2rem;
        color: $accent-color;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-44.5deg);
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
        border: 2px solid $accent-color;
        box-sizing: border-box;
    }
}