@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include set-min-breakpoint {
    display: inline-block;
  }
}

.nav-item-text {
  padding-bottom: 0.2rem;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid;
  }
}

.nav-item {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

  & + .nav-item {
    margin-top: 1rem;

    @include set-min-breakpoint {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}