@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.experience-timeline {
  max-width: $max-width;
  @include centre-block;
  margin-top: 5rem;
}

.timeline-item {
  @include set-min-breakpoint {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    margin-bottom: 5rem;
    
    &:last-of-type:not(.timeline-item-compact) {
        margin-bottom: 3rem;
    }
  }
}

.timeline-item-compact {
    // align-items: center;

    &:nth-last-of-type(2) {
        .timeline-time-period {

            @include diamond-block($max-width: 160px);
            
            &:before {
                opacity: 0.6;
            }
        }
    }

    &:last-of-type {
        .timeline-time-period {

            @include diamond-block($max-width: 160px);
            
            &:before {
                opacity: 0.3;
            }
        }
    }

    .timeline-times {
        justify-content: space-evenly;

        > div {
            flex: 0 0 auto;
        }

        .timeline-date-divider {
            flex: 0.1 0 auto;
        }
    }

    .timeline-item-details {
        padding-top: 0;
    }
}

.timeline-time-period {
    @include diamond-block($max-width: 200px);
}

.timeline-times {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > div {
        flex: 1 1 auto;
    }

    .timeline-date-divider {
        background: $accent-color;
        width: 2px;
    }
}

.timeline-item-details {
  text-align: left;
  padding-top: 0.75rem;

  @include set-min-breakpoint {
    padding-left: 4rem;
  }
}

.timeline-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: $primary-text-color;
    font-size: 1.15rem;
    @include set-secondary-font;
    
    .timeline-date-month {
        color: $accent-color;
    }
}

.role-details {
    margin-bottom: 1.5rem;
}

.employer {
    position: relative;
    left: -0.1rem;
}

.job-title {
    color: $primary-text-color !important;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.job-description {
    margin-bottom: 1rem;
}

.projects-header {
    color: $accent-color;
    font-size: 1.15rem;
    // margin-bottom: 1rem;
    @include set-secondary-font;
}
