.hidden {
  visibility: hidden;
}

.enter {
  opacity: 1 !important;
  transition: opacity 2s ease-out;
}

.full-bleed-graphic {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}