@import 'src/common/styles/mixins';

.skill-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.skill-group {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  margin: 3rem 0;

  // & + .skill-group {
  //   margin-left: 5%;
  // }
}

.skill-group-heading {
  white-space: nowrap;
}

.skill-set {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  > :nth-child(even) {
    flex: 1 1 60%;
  }

  > :nth-child(odd) {
    flex: 0 1 40%;
    padding-right: 10px;
    text-align: right;
  }

  dt + dd {
    margin-top: 1rem;
  }
}

.skill-group-proficiency-icon-wrapper {
  @include diamond-block($max-width: 200px);
  width: 100%;
}

.skill-group-proficiency-icon {
  opacity: 0.3;
  top: auto;
  bottom: 0;
  transform: translate(-30%, -10%) rotate(-45deg);
  width: 50%;
  height: 60%;
}