@import 'src/common/styles/mixins';

.skill-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.skill-group {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  margin-bottom: 4rem;
  
  &:nth-of-type(n + 2) {
    margin-top: 4rem;
  }
}

.skill-group-heading {
  white-space: nowrap;
}

.skill-set-wrapper {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "dd-1 dd-3 dd-5"
  "dt-1 dt-3 dt-5"
  "dd-2 dd-4 dd-6"
  "dt-2 dt-4 dt-6";

  dd:nth-of-type(even) {
    margin-top: 1rem;
  }

  dt {
    line-height: 1;
    margin-top: 0.2rem;
  }

  @for $i from 1 to 6 {
    dd:nth-of-type(#{$i}) {
      grid-area: dd-#{$i}
    }

    dt:nth-of-type(#{$i}) {
      grid-area: dt-#{$i}
    }
  }
}

.skill-group-proficiency-icon-wrapper {
  @include diamond-block($max-width: 200px);
  width: 100%;
}

.skill-group-proficiency-icon {
  opacity: 0.3;
  top: auto;
  bottom: 0;
  transform: translate(-30%, -10%) rotate(-45deg);
  width: 50%;
  height: 60%;
}