@import 'src/common/styles/mixins';

.skill-group-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.skill-group {
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & + .skill-group {
    margin-left: 5%;
  }
}

.skill-group-heading {
  white-space: nowrap;
}

.skill-set {
  text-align: center;

  dt + dd {
    margin-top: 1.75rem;
  }
}

.skill-group-proficiency-icon-wrapper {
  @include diamond-block();
  max-width: 200px;
  margin-bottom: 4rem;
  width: 100%;
}

.skill-group-proficiency-icon {
  opacity: 0.3;
  top: auto;
  bottom: 0;
  transform: translate(-30%, -10%) rotate(-45deg);
  width: 50%;
  height: 60%;
}