@import 'src/common/styles/variables';

.skill {
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid $primary-text-color;
    // text-transform: uppercase;

    &+ .skill {
        margin-left: 15px;
    }
}