@import 'src/common/styles/mixins';

.graphic {
  display: none;
  
  @include set-mid-breakpoint {
    display: block;
  }
}

.pillars-template {
  margin-top: 2rem;
  transform: translate3d(0, 0, 0);
  perspective: 1000;
  contain: paint;
  
  @include set-mid-breakpoint {
    margin-top: 0;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}