@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.heading {
  color: $accent-color;
  @include set-secondary-font;
  font-size: 1.35rem;
  font-weight: 300;
  display: block;

  &.text-sized {
    font-size: 1.175rem;
  }
}