@import 'src/common/styles/variables';

.app {
  background-color: $background-color;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 0.6fr;
  background: radial-gradient(
    ellipse at top left,
    rgba(lighten($background-color, 20%), 1) 0%,
    rgba($background-color, 1) 70%
  );
  height: 100vh;
  color: white;
  position: relative;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
