@import 'src/common/styles/variables';

.page {
  background-color: $background-color;
  min-height: 100vh;
  min-width: 100%;
}

.enter {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transition: all 0.3s ease-out;
}