@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.experience-timeline {
    max-width: $max-width;
    @include centre-block;
    margin-top: 5rem;
}

.timeline-item {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    margin-bottom: 5rem;
}

.timeline-time-period {
    @include diamond-block($max-width: 200px);
}

.timeline-times {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > div {
        flex: 1 1 auto;
    }

    .timeline-date-divider {
        background: $accent-color;
        width: 2px;
    }
}

.timeline-item-details {
    text-align: left;
    padding-left: 4rem;
    padding-top: 0.75rem;
}

.timeline-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: $primary-text-color;
    font-size: 1.15rem;
    @include set-secondary-font;
    
    .timeline-date-month {
        color: $accent-color;
    }
}

.role-details {
    margin-bottom: 1.5rem;
}

.employer {
    position: relative;
    left: -0.1rem;
}

.job-title {
    color: $primary-text-color !important;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.job-description {
    margin-bottom: 1rem;
}

.projects-header {
    color: $accent-color;
    font-size: 1.15rem;
    // margin-bottom: 1rem;
    @include set-secondary-font;
}
