@import 'src/common/styles/mixins';

.skill-group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.skill-group {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  margin-bottom: 4rem;
  align-items: center;
  
  &:nth-of-type(n + 2) {
    margin-top: 4rem;
  }
}

.skill-group-heading {
  white-space: nowrap;
}

.skill-information-wrapper {
  padding-left: 4rem;
}

.skill-group-description {
  margin-bottom: 1.5rem;
}

.skill-set-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;

  dd:nth-of-type(even) {
    margin-top: 1rem;
  }

  dt {
    line-height: 1;
    margin-top: 0.2rem;
  }
}

.skill-group-proficiency-icon-wrapper {
  @include diamond-block($max-width: 200px);
  width: 100%;
}

.skill-group-proficiency-icon {
  opacity: 0.3;
  top: auto;
  bottom: 0;
  transform: translate(-30%, -10%) rotate(-45deg);
  width: 50%;
  height: 60%;
}